body{
    background-image: url(img/Hacker-Thumb-a1.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100%;
    color: rgb(13, 216, 91);
}
marquee{
    position: absolute;
    height: 100%;
    text-align: center;
}





